body {
    background-image: url('../images/bg.jpg');
    /*background-color: #4E504F;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*background-repeat: no-repeat;*/
}

header{
	/*border-top:3px solid #F0F0F0;*/
}

.navbar.navbar-default {
	/*background-color: transparent;*/
	border-color: transparent;
}

.nav-pills>li>a{
	color:#615D5D;
	font-size: 34px;
	font-family: 'Niconne', cursive;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: -webkit-linear-gradient(#A3ADFA, #F0F0F0);
  	background: -o-linear-gradient(#A3ADFA, #F0F0F0); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#A3ADFA, #F0F0F0); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#A3ADFA, #F0F0F0); /* Standard syntax */
	margin: -6px 2px 0 2px;
	box-shadow: 0px 6px 5px #858383;
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus{
	color: #fff;
	background: -webkit-linear-gradient(#A3ADFA, #7484FC);
  	background: -o-linear-gradient(#A3ADFA, #7484FC); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#A3ADFA, #7484FC); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#A3ADFA, #7484FC); /* Standard syntax */
}

.nav-pills>li>a:active, .nav-pills>li>a.active{
	color: #fff;
	background: -webkit-linear-gradient(#A3ADFA, #5E70FC);
  	background: -o-linear-gradient(#A3ADFA, #5E70FC); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#A3ADFA, #5E70FC); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#A3ADFA, #5E70FC); /* Standard syntax */
}


.no-padding{
	padding: 0 !important;
}

.no-padding-lr{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

header h1{
	font-family: 'Mr Dafoe', cursive;
	padding-left: 5px;
	color:#000;
	font-size: 40px;
	margin:5px;
}

header h1 img{
	margin: -8px 10px 8px -5px;
}

header .row{
	margin-right:0 !important;
}

.nav-pills>li>a:active h1, .nav-pills>li>a.active h1, .nav-pills>li>a:hover h1, .nav-pills>li>a:focus h1{
	color:#fff;	
}

.containTop{
	margin:40px 0;
}

.protart .img-thumbnail{
	width:100%;
	height:300px;
	box-shadow: 0px 6px 5px #858383;
}

.protart{
	background: rgba(245, 239, 239, 0.7);
	z-index: 2;
	margin-left: -40px;
	box-shadow: 8px 8px 10px #494646;
	border-radius: 10px;
}

.protart h2{
	text-align: center;
	font-family: 'Mr Dafoe', cursive;
	font-size: 38px;
	font-weight: bold;
}

.nav-logo-drop{
	display: none;
}

.no-margin{
	margin: 0 0 0 0 !important;
}

.artContainer{
	margin-top: 50px;
	margin-left: 30px;
}

.artbox{
	/*padding: 20px 10px;*/
	margin-bottom: 20px;
	box-shadow: 5px 5px 8px #707070;
	border-radius: 10px;
	height: 200px;
	background-color: rgba(245, 239, 239, 0.7);
	cursor: pointer;
}

.artbox:hover,.artbox:focus{
	box-shadow: 0 0 1px #707070;
	display: inline-block;
}

.artbox{
	width: 100%;
	height:150px;
	border-radius: 20px;
}

#scrollUp-active{
	border-color:transparent !important; 	
}

/*.artbox img{
	width:105%;
	height:80%;
	margin-left:-3%;
}*/

.artbox a{
	color: #000;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
}

.jumbotron{
	background-color: rgba(53, 53, 53, 0.61);
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	/*z-index:1px;*/
	/*box-shadow: 15px 15px 6px #494646;*/
}

.jumbotron h2{
	color:#fff;
	/*margin-bottom:50px;*/
	font-size: 55px;
	font-family: 'Niconne', cursive;
}

.jumbotron p{
	color:#fff;
}

.jumbotron .tes{
	position: relative;
	left: 50%;
	top: 100px;
	width:100px;

}

.jumbotron .dev{
	position: relative;
	left: 38%;
	top: 150px;
	width:100px
}

.jumbotron .des{
	position: relative;
	width:100px
}

.jumbotron .ana{
	position: relative;
	left: 38%;
	top: -100px;
	width:100px;
}

#chart-area-pie{
	margin-top: -180px;
}

.img-thumbnail-small{
	width:140px;
	height:50px;
	margin:0 10px 10px 0;
}

.jumbotron h3{
	color: #fff;
}

.imageContainers{
	width:100%;
	background-color:#fff;
	margin-top: -50px;
	padding: 0 10px 0 25px;
}

.imageContainers table{
	margin: 0 auto;
}

.imageContainers h3{
	font-size:28px;
	margin-left: 5%;
}

.projects,.consulting{
	margin-top:100px;
}

.projects{
	background-color:rgba(255, 255, 255, .85);
	padding: 20px 20px 2px 50px;
}

.consulting{
	background-color:rgba(255, 255, 255, 1);
	padding: 20px 20px 20px 50px;
	z-index: 2;
}


.projects h2,.consulting h2{
	font-size: 55px;
	font-family: 'Niconne', cursive;
	margin-top: 10px;
}

.projects h3,.consulting h3{
	font-size: 34px;
	font-family: 'Niconne', cursive;
}

.consulting h3{
	text-align: center;
}

.img-thumbnail-lg{
	width:100%;
	height:280px;
}

.projects .img-thumbnail-lg{
	padding: 10px 10px;
}

.projects .img-thumbnail-med{
	margin-bottom: 10px;

}

.idendityMe{
	display: none;
}

.idendity{
	display: inline;	
}

.projects .note{
	margin-bottom: 0 !important;
}


.projects p{
	font-size: 28px;
	font-family: 'Niconne', cursive;
}

.img-thumbnail-med{
	width: 200px;
	height: 60px;
}

footer{
	background-color:#000;
	color: #fff;
	height: 35px;
	margin-bottom: -2px !important;
}

footer ul{
	margin: 0 auto;
	width:500px;
}

footer  p{
	font-size: 12px;
	color: #fff;
	margin-bottom: 0 !important;
}

footer ul li{
	float: left;
	list-style-type: none;
	padding:10px 0 0 20px;
	font-size: 12px;
	color:#428bca;
}

